%h1
  Edit Page

= error_messages_for :page

= form_for(@page, :action => url(:page, @page)) do
  = partial "form"
  %p
    = submit "Update"

= link_to 'Show', url(:page, @page)
|
= link_to 'Back', url(:pages)